{% extends "_layouts/default" %}
{% block pagetitle %}{% endblock %}
{% block content %}


{% set categories = {
		  path : 'http://cart.breitenbachwine.bluefootsites.com/api/2/categories',
		  cache : true,
		  query : {
		    limit : 999,
		    items_per_page : 999
		  }
		}%}
		{% set categoryId = '' %}
		{% set categoryName = 'Store' %}
		{% set catList = '' %}
		
			
			{% for category in craft.placid.request('cart', categories).categories %}
				{% if craft.request.getSegment(2) %}
					{% if category.seo_name == craft.request.getSegment(2) %}
						{% set categoryId = category.category_id %}
						{% set categories = {
						  path : 'http://cart.breitenbachwine.bluefootsites.com/api/2/categories',
						  cache : true,
						  query : {
						    limit : 999,
						    items_per_page : 999,
						  }
						}%}
						{% set categoryName = category.category %}
						{% set catList = category.id_path %}
					{% endif %}
				{% else %}
				    {% set categories = {
					  path : 'http://cart.breitenbachwine.bluefootsites.com/api/2/categories',
					  cache : true,
					  query : {
					    limit : 999,
					    items_per_page : 999
					  }
					}%}
					
				{% endif %}
			{% endfor %}
			
			
				{% set catCount = 0 %}
				{% for category in craft.placid.request('cart', categories).categories %}	
				{% if categoryId == '' %}
					{% if category.parent_id == 0 %}
						{% set catCount = catCount + 1 %}
					{% endif %}
				{% elseif category.parent_id == categoryId %}
					{% set catCount = catCount + 1 %}
				{% endif %}
			{% endfor %}

			{% set catList = catList|split('/') %}

<section class="categories">
	<div class="row">
		<div class="medium-12 columns">
				<ul class="category-menu">
						{% for category in craft.placid.request('cart', categories).categories %}	
								{% if category.parent_id == 0 and category.status == "A" %}
									<li><a href="/categories/{{category.seo_name}}">{{category.category}}</a>
									{% set productCategory = category.category_id %}
									{% set subcategories = false %}
									{% for category in craft.placid.request('cart', categories).categories %}
										{% if productCategory != 0 and category.parent_id == productCategory %}
											{% set subcategories = true %}
										{% endif %}
									{% endfor %}
									{% if subcategories == true %}
										<ul class="dropdown">
											{% for category in craft.placid.request('cart', categories).categories %}
												{% if productCategory != 0 and category.parent_id == productCategory and category.status == "A" %}
													<li><a href="/categories/{{category.seo_name}}">{{category.category}}</a></li>
												{% endif %}
											{% endfor %}
										</ul>
									{% endif %}	
									</li>
								{% endif %}
						{% endfor %}
						<li><a>Gift Certificates</a>
							<ul class="dropdown">
								<li><a href="/products?catPath=18#!%2Fgift-certificates-en%2Fin-store-gift-certificate">In-store Gift Certificates</a></li>
								<li><a href="/products#!%2Fgift-certificates">Online Gift Certificates</a></li>
							</ul>
						</li>
					</ul>
		</div>
	</div>	
</section>

<div class="row">
	<div class="medium-12 columns">
		<ul class="breadcrumbs">
		<li><a href="/products">Shop</a></li>
		{% for categoryId in catList %}
			{% set catListOptions = {
			  path : 'http://cart.breitenbachwine.bluefootsites.com/api/2/categories',
			  cache : true,
			  query : {
			    limit : 999,
			    items_per_page : 999,
			  }
			}%}
		    {% for category in craft.placid.request('cart', catListOptions).categories %}
			    {% if category.category_id == categoryId %}
			    	<li><a href="/categories/{{category.seo_name}}">{{category.category}}</a></li>
			    {% endif %}
		    {% endfor %}
		{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="medium-12 columns">
		 {% if categoryId == '' %}
			{% set options = {
				cache : true,
			  query : {
			    items_per_page : 16,
			    page : craft.request.getParam('page')
			  }
			} %}
		{% else %}
			{% set catPath %}http://cart.breitenbachwine.bluefootsites.com/api/2/categories/{{categoryId}}/products{% endset %}
		    {% set prodPageOptions = {
			  path : catPath,
			  cache : true,
			  query : {
			    page : craft.request.getParam('page'),
			    items_per_page : 16
			  }
			}
			%}

		{% endif %}
		<h1>{{categoryName}}</h1>
		<div class="product-list">
			<ul class="medium-block-grid-4">
				{% for product in craft.placid.request('productPages', prodPageOptions).products %}

					<li>
						<div class="product-container">
							{% set prodCatList = product.seo_path|split('/') %}
							{% set prodCats = "" %}
							{% for category in prodCatList %}
								{% set protcatPath %}http://cart.breitenbachwine.bluefootsites.com/api/2/categories/{{category}}{% endset %}
							    {% set prodCatPathOptions = {
								  path : protcatPath,
								  cache : true,
								  query : {
								    limit : 999,
								    items_per_page : 999,
								    subcats: 'Y'
								  }
								}%}
								{% set prodCats %}{{prodCats}}/{{craft.placid.request('cart', prodCatPathOptions).seo_name}}{% endset %}
							{% endfor %}
							<a href="/products?catPath={{product.seo_path}}#!{{prodCats}}/{{product.seo_name}}">
								{% set productImage %}https://d250ifotrwykrk.cloudfront.net/images/thumbnails/300/300/{{product.main_pair.detailed.relative_path|default('')}}{% endset %}
								{% if productImage == "https://d250ifotrwykrk.cloudfront.net/images/thumbnails/300/300/" %}
								<img src="/assets/no-image.png" alt="">
								{% else %}
								    <img src="{{productImage}}" alt="">
								{% endif %}
							
							

							<div class="product-title">{{product.product|trimit(35)}}</div>
							<div class="product-price">${{product.price|number_format(2, '.', ',')}}</div>
							</a>
						</div>
						
						

					</li>
				{% endfor %}
			</ul>
			<div class="pagination">
				{% set pageCount = craft.placid.request('productPages', prodPageOptions).params.total_items / 15 %}
				{% set pages = pageCount | round(0, 'ceil') %}
				{% if craft.request.getParam('page') > 1 %}
				<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') - 1}}">Prev Page</a>
				{% endif %}

				{% if craft.request.getParam('page') - 2 > 0 %}
				<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') - 2}}">{{craft.request.getParam('page') - 2}}</a>
				{% endif %}

				{% if craft.request.getParam('page') - 1 > 0 %}
				<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') - 1}}">{{craft.request.getParam('page') - 1}}</a>
				{% endif %}
				
				<span class="current-page">{{craft.placid.request('productPages', prodPageOptions).params.page}}</span>
				
				{% if craft.request.getParam('page') %}

					{% if craft.request.getParam('page') + 1 <= pages %}
					<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') + 1}}">{{craft.request.getParam('page') + 1}}</a>
					{% endif %}

					{% if craft.request.getParam('page') + 2 <= pages %}
					<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') + 2}}">{{craft.request.getParam('page') + 2}}</a>
					{% endif %}

					
					<a href="/{{craft.request.getPath()}}?page={{craft.request.getParam('page') + 1}}">Next Page</a>
				{% else %}
					{% if 2 <= pages %}
					  <a href="/{{craft.request.getPath()}}?page=2">2</a>
				  	{% endif %}
				  	{% if 3 <= pages %}
					  <a href="/{{craft.request.getPath()}}?page=3">3</a>
				  	{% endif %}
				  	{% if 2 <= pages %}
				  <a href="/{{craft.request.getPath()}}?page=2">Next Page</a>  
				  {% endif %}
				{% endif %}
			</div>

		</div>
	</div>
</div>
{% endblock %}